VITE_SANITY_PROJECT_ID="yourProjectId"
VITE_SANITY_DATASET="production"
VITE_SANITY_API_VERSION="2026-05-11"
VITE_SANITY_USE_CDN="true"

# (Studio only) Optional: if you later enable write features from custom code.
# SANITY_AUTH_TOKEN="..."
